
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light unique-color-dark scrolling-navbar mb-5 pt-4">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="{% url 'potshop:home-page' %}">
      <strong class="purple-text" style="color: #6f367a;">BigMark</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" style="background: #afafaf" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="color:white;"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        {% comment %} <li class="nav-item active">
          <a class="nav-link waves-effect" href="{% url 'potshop:about' %}">About
            <span class="sr-only">(current)</span>
          </a>
        </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link waves-effect" style="color:white;" href="{% url 'potshop:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" style="color:white;" href="{% url 'potshop:store' %}">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" style="color:white;" href="{% url 'potshop:lookbook' %}">Look Book</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect">
            <span class="badge red z-depth-1 mr-1"> 1 </span>
            <i class="fas fa-shopping-cart" style="color:#6f367a;"></i>
            <span class="clearfix d-none d-sm-inline-block" style="color:white;"> Cart </span>
          </a>
        </li>
        {% comment %} <li class="nav-item">
          <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
            target="_blank">
            <i class="fab fa-github mr-2"></i>MDB GitHub
          </a>
        </li> {% endcomment %}
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->
