{% comment %} <form class="container">
    <div class="col-md-8 mx-auto text-center border border-light p-5 align-items-center">
        <div class="row">
            <div class="col-md-8 pb-2">
                <h1>Subscribe</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 pb-2">
                <input placeholder="Name"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 pb-2">
                <input placeholder="Email"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 pb-2">
            <button class="btn btn-primary"> Subscribe</button>
            </div>
        </div>
    <div>
</form> {% endcomment %}

<!-- Default form login -->
<form class="text-center border border-dark-ic p-5 w-50 mx-auto mt-5" action="#!">

    <p class="h4 mb-5">Subscribe</p>
    <p>Subscribe to our newsletter to recieve the latest updates on our store !</p>

    <!-- Name -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-5" placeholder="Name">

    <!-- Email -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-5" placeholder="Email">


    <!-- Subscribe button -->
    <button class="btn btn-purple w-50" style="color: white;" type="submit">Subscribe</button>



</form>
<!-- Default form login -->